
.container{
    

}
.app{
    margin: auto;
    width: 350px;
    height: 200px;
    border: 1px solid black;
    border-radius: 1em;
    padding: 10px;
    display: block;
    
}
 #output{
    width: 320px;
    height: 4em;
    margin: auto;
    margin-bottom: 10px;
    background-color: bisque;
}
#inputs{
    margin: auto;
    background-color: aquamarine;
    width:320px;
    
}
#weight{
    width: 100%
}
#height{
    width: 100%;
}
.inputor{
    width:  100%;
    

    background-color: bisque;
}